.search-result li {
  border: 1px solid gray;
  border-top: none;
  width: 195px;
  height: 16px;
  padding: 5px;
  background-color: #FFF;
  cursor: pointer;
  list-style-type: none;
}

.search-result li:hover {
  background-color: #607D8B;
}

.search-result li a {
  color: #888;
  display: block;
  text-decoration: none;
}

.search-result li a:hover {
  color: #FFF;
}

#search-box {
  width: 200px;
  height: 20px;
}

ul.search-result {
  margin-top: 0;
  padding-left: 0;
}
